body {
  max-width: 500px;
  margin: auto;
  background-image: url("marble.png");
  
}

h1 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 479px;
}

table {
  margin: auto;
}

td {
  width: 100px;
  height: 100px;
  text-align: center;
}

.vertical {
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.horizontal {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.fa-times, .fa-circle {
  color: black;
}
