body {
  background: #181818;
}

h1 {
  text-align: center;
  color: white;
  margin-top: 50px;
  margin-bottom: 110px;
}

table {
  margin: auto;
}

td {
  width: 100px;
  height: 100px;
  text-align: center;
}

td:hover {
  background: #282828;
}

.vertical {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.horizontal {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.fa-times, .fa-circle {
  color: white;
}
